@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --Brightorange: hsl(31, 77%, 52%);
    --Darkcyan: hsl(184, 100%, 22%);
    --Verydarkcyan: hsl(179, 100%, 13%);
    --Transparentwhite: hsla(0, 0%, 100%, 0.75);
    --verylightgray: hsl(0, 0%, 95%);
    --deca: 'Lexend Deca', sans-serif;
    --Big: 'Big Shoulders Display', cursive;

}

body {
    background-color:var(--Transparentwhite);
    font-size: 15px;
}
main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--deca);
    
    margin: 3em;
}
#div1, #div2, #div3{
    height: 65%;
    width: 35%;
    display: block;
    line-height: 1.4em;
    color: var(--Transparentwhite);
    padding: 2em;
}
#div1{
    background-color: var(--Brightorange);
    border-top-left-radius: 3%;
    border-bottom-left-radius: 3%;
}
#div1 img, #div2 img, #div3 img{
    display: block;
    padding-bottom: 2em;
    
}
#div1 h1, #div2 h1, #div3 h1{
    color: var(--Transparentwhite);
    font-weight: 900;
    font-family: var(--Big);
    padding-bottom: 1.5em;
}
#div1 p, #div2 p, #div3 p{
    padding-bottom: 2.5em;
    line-height: 1.5em;
    
}
#div2{
    background-color: var(--Darkcyan);
}
#div3{
    background-color: var(--Verydarkcyan);
    border-top-right-radius: 3%;
    border-bottom-right-radius: 3%;
}

/* button styling */
button{
    border-radius: 50px;
    padding: 2em;
    width: 80%;
    background-color: var(--Transparentwhite);
    border: none;
    margin-top: 6em;
    position: relative;
}
button:hover{
    background-color: lightslategray;
    color: var(--Transparentwhite);
    box-shadow: 2px 2px var(--Transparentwhite);
}
#div1 button{
    color: var(--Brightorange);
}
 #div2 button{
    color: var(--Darkcyan);
    margin-top: 4.5em;
}
 #div3 button{
    color: var(--Verydarkcyan);
}


@media screen and (max-width: 500px){
    main{
        display: block;
       
    }
    #div1, #div2, #div3{
        display: block;
        width: 100%;
        height: 70%;

    }
    #div1 {
        border-top-right-radius: 3%;
        border-bottom-left-radius: 0%;
    }
    #div3{
        border-bottom-left-radius: 3%;
        border-top-right-radius: 0%;
    }
  
}
@media screen and (max-width: 744px){
    main{
        display: block;
    }
    #div1, #div2, #div3{
        display: block;
        width: 100%;
        height: 50%;
    }
    #div1 {
        border-top-right-radius: 3%;
        border-bottom-left-radius: 0%;
    }
    #div3{
        border-bottom-left-radius: 3%;
        border-top-right-radius: 0%;
    }

}